<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.sungbin.autoreply.bot.three">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
            android:name=".kakao.GlobalApplication"
            android:allowBackup="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            android:requestLegacyExternalStorage="true"
            android:usesCleartextTraffic="true"
            tools:replace="android:icon">
        <activity
                android:name=".view.activity.IntroActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.chat.DialogsActivity"
                android:theme="@style/AppThemeMaterial"></activity>
        <activity
                android:name=".view.chat.MessagesActivity"
                android:theme="@style/AppTheme"></activity>
        <activity
                android:name=".view.hub.PostViewActivity"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
                android:name=".view.activity.ScriptEditActivity"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
                android:name=".view.activity.DashboardActivity"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
                android:name=".view.activity.PermissionActivity"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
                android:name=".view.activity.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
                android:name=".view.hub.PostActivity"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>
        <activity
                android:name=".view.hub.MainActivity"
                android:theme="@style/AppTheme.NoActionBar.NoActionBar"></activity>

        <meta-data
                android:name="com.kakao.sdk.AppKey"
                android:value="7a89f549837515bd9c9ffba767925e3b" />
        <meta-data
                android:name="com.samsung.android.icon_container.has_icon_container"
                android:value="true" />
        <meta-data
                android:name="com.sec.android.support.multiwindow"
                android:value="true" />
        <meta-data
                android:name="firebase_messaging_auto_init_enabled"
                android:value="false" />
        <meta-data
                android:name="firebase_analytics_collection_enabled"
                android:value="false" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/icon" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/app_name" />

        <service
                android:name=".notification.FirebaseMessagingService"
                android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
                android:name=".listener.KakaoTalkListener"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
                android:name=".listener.TileServiceListener"
                android:icon="@drawable/icon"
                android:label="@string/app_name"
                android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>